In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Liver\OneDrive\Desktop\MAHDI\pandas_course\Datasets\airlines_flights_data.csv")

In [3]:
df.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [4]:
df.destination_city.describe()

count     300153
unique         6
top       Mumbai
freq       59097
Name: destination_city, dtype: object

In [5]:
df.price.describe()

count    300153.000000
mean      20889.660523
std       22697.767366
min        1105.000000
25%        4783.000000
50%        7425.000000
75%       42521.000000
max      123071.000000
Name: price, dtype: float64

In [6]:
df.price.mean()

20889.660523133203

In [10]:
df.destination_city.unique()
df.source_city.unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [8]:
df_price_mean = df.price.mean()

In [9]:
df.price.map(lambda p : p - df_price_mean)

0        -14936.660523
1        -14936.660523
2        -14933.660523
3        -14934.660523
4        -14934.660523
              ...
300148    48375.339477
300149    56215.339477
300150    58209.339477
300151    60695.339477
300152    60695.339477
Name: price, Length: 300153, dtype: float64